<form action="">
    <h1>ATUALIZANDO FORNADA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="fornada.nomePao" type="text" name="nome" placeholder="EX. Pao Frances">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="fornada.descricao" type="text" name="descricao" placeholder="EX. O pão mais pedido">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Status</mat-label>
        <input matInput [(ngModel)]="fornada.status" type="text" name="status" placeholder="EX. Em andamento">
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">ATUALIZAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>

